:root {
    --primary-color: #a76d60;
    --primary-white: #f7f9f9;
    --font-primary: "Segoe UI", Roboto, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: var(--font-primary);
    background-color: var(--primary-white);
}

.app-container {
    margin: 0 auto;
    padding: 10rem 1.6rem;
    width: 100%;
    min-width: 400px;
    max-width: 1800px;
}

.app-title {
    text-align: center;
    margin-bottom: 2rem;
}

.post-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 1.4rem;
    width: 100%;
}

.post-student, .post-course, .post-author, .post-input-button {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}

.post-student, .post-course, .post-author {
    background: var(--primary-color);
}

.student-icon, .course-icon, .author-icon {
    padding: 12px 10px;
    padding-right: 12px;
    color: white;
}

.post-input-student, .post-input-course, .post-input-author {
    padding: 10px;
}

.post-input-student, .post-input-course, .post-input-author, .post-input-button {
    width: 100%;
    border: 3px solid var(--primary-color);
}

.post-input-button {
    height: 40px;
    background-color: white;
}

.app-loading-container {
    display: none;
    justify-content: center;
}

.app-courses-container {
    width: 100%;
}

.courses-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: auto;
}

.courses-list-item {
}

.course-card {
    margin: 1.4rem 1rem;
    height: auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
}

.course-card-img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.course-card-text-container {
    display: flex;
    flex-direction: column;
}

.course-card-text-item {
    padding: 1rem;
}

.course-card-text-item-icon {
    display: inline-block;
    width: 2rem;
}

.course-card-text-item-student, .course-card-text-item-course, .course-card-text-item-author {
    
}